.fd-col {
    flex-direction: column !important;
}
.collapse {
    width: 100% !important;
    margin-bottom: -10px !important;
}
.row-gap-10 {
    row-gap: 0px !important;
}
.color {
    fill: #FF6060 !important;
}
